# --- Core Web & API ---
fastapi
uvicorn
pydantic
python-multipart
requests
tqdm>=4.60

# --- Database & Storage ---
sqlalchemy
psycopg2-binary
chromadb
faiss-cpu
numpy
google-cloud-storage>=2.10

# --- AI & LLM Integration ---
groq
ollama
langchain-core
langchain-groq
langgraph
langchain-ollama
langchain-openai
google-cloud-aiplatform>=1.38
google-generativeai>=0.5.2
sentence-transformers

# --- Data & Utilities ---
python-dotenv
pandas>=2.0
